go 1.19

use (
	./cobra/pScan
	./cobra/pScan/scan
	./fileSystem/walk
	./interacting/todo
	./performance/colStat
	./processes/goci
	./processes/goci/testdata/tool
	./processes/goci/testdata/toolErr
	./processes/goci/testdata/toolErrCyclo
	./processes/goci/testdata/toolFmtErr
	./processes/goci/testdata/toolLintErr
	./wordcounter/wc
	./workingFiles/mdp
)
