go 1.19

use (
	./fileSystem/walk
	./interacting/todo
	./performance/colStat
	./processes/goci
	./processes/goci/testdata/tool
	./processes/goci/testdata/toolErr
	./processes/goci/testdata/toolFmtErr
	./wordcounter/wc
	./workingFiles/mdp
)
